/* Container with responsive background image */
.grid-map-container {
    position: relative;
    width: 100%; /* Full width of the screen */
    height: 0;
    padding-top: 100%; /* Maintain aspect ratio for square layout */
    background-image: url('../dummies/dummy_map.jpg'); /* image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* Grid container scales with the image */
  .grid-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid rgba(0, 0, 0, 0.5); /* Outer border */
  }
  
  /* Individual grid squares */
  .grid-square {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 1); /* Grid lines */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 2vw; /* Scales with screen width */
    color: #000;
    text-shadow: 1px 1px 2px #fff;
    transition: background-color 0.3s, font-size 0.3s;
  }
  
  /* Highlight selected area */
  .grid-square.highlight {
    background-color: rgba(52, 199, 89, 0.6); /* Highlight color #34c759*/
  }
  
  /* Media query for small screens (phones) */
  @media (max-width: 768px) {
    .grid-square {
      font-size: 4vw; /* Adjust text size for smaller screens */
    }
  }
  
  /* CSS for buttons */
  .button-section {
    display: flex;
  }

  .button {
    margin: 2%;
    width: 50%;
    background-color: #34c759;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }

  .dialog-button {
    margin: 5px; /* Reduced margin to make the buttons fit next to each other */
    width: 45%; /* Reduced width to make the buttons smaller */
    background-color: #34c759; /* Green background color */
    padding: 8px; /* Reduced padding to make the buttons smaller */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Adjusted font size */
    margin-top: 20px;
  }
  
  .dialog-button-close {
    background-color: #fff; /* White background */
    color: #333; /* Dark text color for contrast */
    border: 1px solid #333; /* Darker border color */
  }

  .dialog-number-input {
    width: 30%; /* Adjust the width as per your requirement */
    padding: 1px; /* Adjust padding to make it compact */
    font-size: 14px; /* Adjust font size */
    margin-left: 7px
  }

  .success-message {
    color: green; /* Green color for success */
    font-weight: bold;
    margin-top: 10px; /* Spacing from other elements */
    text-align: center; /* Center the text */
  }